/*#song{
	background-color: darkslategrey;
}*/

body{
	background-color: darkslategrey;
	color:darkseagreen;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 30px;
}

#album1{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
animation: slide 3s infinite ease-out;
}
@keyframes slide {
	0%{

	}
	50%{
		transform: translate(50vw, 0);
	}
}

#album2{ 
	width: 50vmin;
	height: 50vmin;
	animation: spin 2s infinite linear;
 }
@keyframes spin {
	to{
		transform: rotate(360deg);
	}
}
