.item > img{
	width:100px;
	height: 100px;
}

.item > span{
	display:none;
}

/*img:hover {
		max-width: 500px;
		animation-name: enlarge;
		animation-duration: 4s;
		z-index: 2;
		
}
*/
.img{
	position: absolute;
	top: 0;
	object-fit: cover;
}

.button{
	font-size: 20px;
}