.item > img{
	width:100px;
	height: 100px;
}

.item > span{
	display:none;
}

/*img:hover {
		max-width: 500px;
		animation-name: enlarge;
		animation-duration: 4s;
		z-index: 2;
		
}
*/
img{
	top: 0px;
}
